<form nz-form [formGroup]="itemForm">
  <nz-form-item>
    <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">Name</nz-form-label>
    <nz-form-control [nzSm]="18" [nzXs]="24">
      <input nz-input formControlName="name" id="name" />
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
      <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="no">No</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24">
        <nz-input-number formControlName="no" [nzMin]="1" [nzStep]="1"></nz-input-number>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="alias">Alias</nz-form-label>
        <nz-form-control [nzSm]="18" [nzXs]="24">
          <input nz-input formControlName="alias" id="alias" />
        </nz-form-control>
    </nz-form-item>
</form>
